/*
Fonts

font-family: 'Cedarville Cursive', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

/*
Colors
color:bisque;
color:lightgoldenyellow;
color:yellowgreen;*/

:root{
   --branding-color:bisque;
   --secondary-branding-color:lightgoldenrodyellow;
   --tertiary-branding-color:olive;

}

.navbar-brand{
font-family: 'Borel', cursive;
color:olive;
}

h2{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;

}

h3{
    font-size: 35px;
    font-family: 'Borel', cursive;
    color:olive;
}

p{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

i{
    color:var(--tertiary-branding-color);
}
.hero{
    background-color:bisque;
    text-align: center;
    padding: 90px 20px;
}

.hero h1{
    font-family: 'Borel', cursive;
    color:olive;
    font-size: 45px;
}

.hero h2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    line-height:2;
}

.hero img{
 width: 250px;
}

.aboutme{
    padding:20px;
    margin-top:auto;
    margin-bottom:auto;

}


.aboutme img{
    width: 250px;
  
}

.aboutme h3{
        font-size: 35px;
        font-family: 'Borel', cursive;
        color:olive;

}



p{
font-family: "Poppins", sans-serif;
}

.btn-branding {
    background-color: lightgoldenrodyellow;
    border-radius: 6px;
    color:olive;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;
}

.btn-branding-outline{
    background-color:var(--branding-color);
    border-radius: 6px;
    border: 1.5px solid var(--secondary-branding-color);
    color:var(--tertiary-branding-color);
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;  
}

.project-description{
    padding: 65px 35px;
}

img{
    border-radius: 20px;
}
.container img{
    padding:20px;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color:goldenrod;
}


footer{
    background-color: bisque;
    padding: 40px 5px;
    text-align: center;
}
@media (max-width: 900px){
    h2{
        font-size: 45px;
     }
    
    .project-description{
        padding: 0;
        text-align: center;
    
    }
}
