/*
Fonts

font-family: 'Cedarville Cursive', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

/*
Colors
color:bisque;
color:lightgoldenyellow;
color:yellowgreen;*/

:root{
   --branding-color:bisque;
   --secondary-branding-color:lightgoldenrodyellow;
   --tertiary-branding-color:olive;

}


.navbar-brand{
font-family: 'Borel', cursive;
color:olive;
}

nav a:hover{
    text-decoration:underline;
    color: var(--tertiary-branding-color);
}

h2{
    font-size:3.125rem;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
}

h3{
    font-size:2.187rem;
    font-family: 'Borel', cursive;
    color:olive;
}


p{
    font-weight: normal;
    font-size:1.125em;
    line-height:1.2;
}

.logos{
    color:var(--tertiary-branding-color);
}


.banner{
    background-color:bisque;
    text-align: center;
    padding: 90px;
}


.banner h1{
    font-family: 'Borel', cursive;
    color:olive;
    font-size: 45px;
    padding: 10px;
}

.banner h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.625em;    
    line-height:2;
    padding: 10px;
}


.banner img{
 width: 250px;
}


.aboutme{
    padding:10px;
    margin-top:auto;
    margin-bottom:auto;
}


.aboutme img{
    width: 250px;
  
}

.aboutme h3{
        font-size: 35px;
        font-family: 'Borel', cursive;
        color:olive;

}

.projectsbanner h1{
    font-family:'Borel', cursive;
    color:olive;
    font-size: 35px;
    margin-top: 30px;
    text-decoration:underline;


}

p{
font-family: "Poppins", sans-serif;
}

.btn-branding {
    background-color: lightgoldenrodyellow;
    border-radius: 6px;
    color:olive;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;
}

.btn-branding-outline{
    background-color:var(--branding-color);
    border-radius: 6px;
    border: 1.5px solid var(--secondary-branding-color);
    color:var(--tertiary-branding-color);
    font-size: 18px;
    line-height: 20px;
    padding: 15px 30px;  
}

.project-description{
    padding: 65px 35px;
}

img{
    border-radius: 20px;
    width:100%;
    height:100%;
}

.container{
    max-width:100%;

}


.container img{
    padding:20px;
    border-radius: 4px;
}



a{
    text-decoration: none;
    color:goldenrod;
}

a:hover{
    text-decoration: solid;
    color: olive;
}

form{
    font-family: 'Borel', cursive;
}

footer{
    background-color: bisque;
    margin:10px 0;
    padding:5px;
    text-align: center;
}


@media (max-width: 900px){
    h2{
        font-size: 45px;
     }
    
    .project-description{
        padding: 0;
        text-align: center;
    
    }
}

/*Accessibility feature- font size*/

.access-btn{
    font-family: 'Poppins', sans-serif;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ddd;
    color:darkolivegreen;
    cursor: pointer;  
}


    
.banner .buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}

.banner .buttons.btn{
    padding: 0 10px;
    display: inline-flex;
    background: #ddd;
    color:darkolivegreen;
    margin-left: 10px;
    cursor: pointer;

}

.banner .buttons .btn.active{
    background:#444;
}

.banner .buttons .access-btn:nth-child(2){
font-size: 1.35em;
}

.banner .buttons .access-btn:nth-child(3){
font-size: 1.75em;

}

.container .content h1,
.container .content h2,
.container .content p {
    transition: 0.5s;
}



/*Accessibility feature-contrast*/


.theme-button{
    width:50px;
    height:50px;
    border-radius: 30px;
    border:none;
    background-color:lightblue;
    position:fixed;
    bottom:35px;
    left: 10px;
    filter: drop-shadow(5px 5px 5px grey);
    cursor: pointer;
    display: flex;
align-items: center;
justify-content: center;
}

.fa-2xl {
    font-size: 32px;
    line-height: 1;
    vertical-align: -6px;
  }

.theme-button:hover{
    cursor: pointer;
}


.dark .banner{
    background-color: olive;
}

.dark .banner h1{
    color:bisque;
}

.dark .container{
    background-color:#dde0ab;
}

.dark .container-aboutme{
    background-color:#dde0ab;

}

.dark footer{
    background-color: olive;

}

.dark i{
    color:whitesmoke;
}



